{% extends 'base.html' %}
{% load static %}

{% include 'partials/navbar.html' %}
{% include 'partials/navbar_sub.html' %}

{% block content %}

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="border p-4 rounded bg-white shadow-sm">

                    <h2 class="mb-4 text-center">Register</h2>
                    {% include 'partials/alert.html' %}

                    <form method="post" action="{% url 'registration' %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label class="form-label">First Name</label>
                            {{ form.first_name }}
                            <div class="text-danger">
                                {{ form.first_name.errors }}
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Last Name</label>
                            {{ form.last_name }}
                            <div class="text-danger">
                                {{ form.last_name.errors }}
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Username</label>
                            {{ form.username }}
                            <div class="text-danger">
                                {{ form.username.errors }}
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Phone</label>
                            {{ form.phone }}
                            <div class="text-danger">
                                {{ form.phone.errors }}
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Email Address</label>
                            {{ form.email }}
                            <div class="text-danger">
                                {{ form.email.errors }}
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Password</label>
                            {{ form.password }}
                            <div class="text-danger">
                                {{ form.password.errors }}
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label class="form-label">Confirm Password</label>
                            {{ form.confirm_password }}
                            <div class="text-danger">
                                {{ form.confirm_password.errors }}
                            </div>
                        </div>

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}

                        <button type="submit" class="btn btn-primary btn-block w-100">
                            Submit
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}