{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="site-section">
    <div class="container">
        <div class="row mb-5">

            <div class="site-blocks-table">
<table class="table table-bordered align-middle">
    <thead>
        <tr>
            <th class="product-thumbnail">Image</th>
            <th class="product-name">Product</th>
            <th class="product-price">Price</th>
            <th class="product-quantity">Quantity</th>
            <th class="product-total">Total</th>
            <th class="product-remove">Remove</th>
        </tr>
    </thead>
    <tbody>

        {% if not cart_items %}
        <tr>
            <td colspan="6" class="text-center py-4 text-muted">Your shopping cart is empty</td>
        </tr>

        {% else %}
        {% for cart_item in cart_items %}
        <tr>
            <td class="product-thumbnail" style="width: 100px;">
                <img src="{{ cart_item.product.product_image.url }}" alt="{{ cart_item.product.product_name }}" class="img-fluid rounded">

            </td>
            <td class="product-name">
                <h2 class="h6 text-dark mb-0">{{ cart_item.product.product_name }}</h2>
                {% if cart_item.variation.exists %}
                    <p class="text-muted small">
                        {% for variation in cart_item.variation.all %}
                            {{ variation.variation_category | capfirst }}: {{ variation.variation_value | capfirst}}<br>
                        {% endfor %}
                    </p>
                {% endif %}
            </td>
            <td>${{ cart_item.product.price }}</td>
            <td>
                <div class="input-group" style="max-width: 120px;">
                    <a href="{% url 'remove_cart_item' cart_item.product.id %}" class="btn btn-outline-secondary btn-sm px-2">-</a>
                    <input type="text" value="{{ cart_item.quantity }}" class="form-control form-control-sm text-center bg-white" readonly>
                    <a href="{% url 'add_cart' cart_item.product.id %}" class="btn btn-outline-secondary btn-sm px-2">+</a>
                </div>
            </td>
            <td>${{ cart_item.sub_total }}</td>
            <td>
                <a href="{% url 'remove_cart' cart_item.product.id %}" class="btn btn-danger btn-sm px-2.5">
                    <i class="bi bi-trash"></i> X
                </a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}

    </tbody>
</table>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'store' %}" class="btn btn-outline-primary btn-sm btn-block">Continue
                            Shopping</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="text-black h4" for="coupon">Coupon</label>
                        <p>Enter your coupon code if you have one.</p>
                    </div>
                    <div class="col-md-8 mb-3 mb-md-0">
                        <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-sm px-4">Apply Coupon</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <span class="text-black">Tax</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">${{tax}}</strong>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <span class="text-black">Quantity</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">{{quantity}} items</strong>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">Total</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">${{total}}</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-lg btn-block"
                                    onclick="window.location='checkout.html'">Proceed To Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}