<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ page_title }}Verse{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
</head>
<body class="bg-gray-100">

    
 <!-- ================= NAVBAR ================= -->

    {% include "partials/navbar.html" %}
    
    {% block content %}
    {% endblock %}

</body>
</html>